@import "../vendor/vars";
@import "../vendor/mixins";

.admin {
  border: 1px solid #d2d2d2;
  font-family: $fontSourceSans;

  &-filters {
    padding: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e0e0e0;
    @include breakpoint($bp576) {
      gap: 1rem;
      flex-direction: column;
    }
  }
  &-data {
    font-size: 1.5rem;
    &-order {
      padding: 2rem .5rem;
      display: flex;
      align-items: center;
      border-top: 2px solid $black;
      @include breakpoint($bp1035) {
        gap: 1rem;
        flex-direction: column;
      }
      &:nth-child(2n) {
        background-color: #f5f5f5;
      }
    }
  }
  &-details {
    margin: 0 2rem 2rem;
    padding: 1rem 1rem 0 1rem;
    background-color: #f3f3f3;
    border: 1px solid black;
  }
  &-info {
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-top: 1px solid black;
    font-weight: 600;
    @include breakpoint($bp1035) {
      display: none;
    }
  }
}

.order {
  &-status {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &-details {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #b9b9b9;
    text-transform: capitalize;
    flex: 0 0 30%;
    @include breakpoint($bp960) {
      flex: 0 0 45%;
    }
    @include breakpoint($bp576) {
      flex: 0 0 95%;
    }
    &-top {
      padding-bottom: .5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      border-bottom: 1px solid black;
      &-right {
        text-align: right;
      }
    }
    &-bottom {
      padding-top: .5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-right {
        text-align: right;
      }
    }
  }
  &-id {
    width: 32%;
    @include breakpoint($bp1035) {
      width: initial;
    }
  }
  &-user {
    text-align: center;
    width: 20%;
    @include breakpoint($bp1035) {
      width: initial;
    }
  }
  &-price {
    text-align: center;
    width: 13%;
    @include breakpoint($bp1035) {
      width: initial;
    }
  }
  &-date {
    text-align: center;
    width: 15%;
    @include breakpoint($bp1035) {
      width: initial;
    }
  }
  &-status-text {
    text-align: center;
    width: 13%;
    @include breakpoint($bp1035) {
      width: initial;
    }
  }
  &-btn {
    width: 10%;
    @include breakpoint($bp1035) {
      width: initial;
    }
  }
}