@import "../vendor/vars";
@import "../vendor/mixins";

.admin {
  &-top {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-header {
    font-size: 2.2rem;
  }
  &-filters {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint($bp576) {
      flex-direction: column;
      width: 50%;
      gap: 1rem;
    }
    & button {
      @include breakpoint($bp576) {
        width: 10rem;
      }
    }
  }
}

.order {
  padding: 1rem;
  &:nth-child(2n) {
    background-color: #f3f3f3;
  }
  & > .order-info {
    text-transform: uppercase;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint($bp1035) {
      flex-direction: column;
      gap: .5rem;
    }
  }
  &-count {
    font-weight: 600;
  }
  &-info {
    font-size: 1.6rem;
  }
  &-data {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  &-item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    font-size: 1.8rem;
    border: 2px inset black;
    flex: 0 0 30%;
    @include breakpoint($bp1035) {
      flex: 0 0 40%;
    }
    @include breakpoint($bp432) {
      flex: 0 0 85%;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: capitalize;
      font-size: 1.6rem;
      &.header {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: $blue;
        @include breakpoint($bp576) {
          font-size: 1.65rem;
        }
      }
      & .orders-item-values {
        text-align: center;
      }
    }
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  & p {
    font-size: 1.8rem;
  }
  & select {
    font-size: 1.8rem;
  }
}