@import "../vendor/vars";
@import "../vendor/mixins";

.carousel {
  & .slider-wrapper {
    width: 85%;
  }
  &-root {
    width: 85%;
  }
  & .thumbs-wrapper {
    margin: 0;
  }
  & .thumb {
    width: 10rem !important;
    height: 10rem;
    transition: none;
    &:hover {
      border: none;
    }
    &.selected {
      border: none !important;
    }
  }
  &-status {
    display: none;
  }
}

.thumbs-wrapper.axis-vertical {
  & button {
    display: none;
  }
}