@import "../vendor/vars";
@import '../vendor/mixins';

.cart {
  margin-top: 3rem;

  &-item {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint($bp576) {
      padding: 1rem;
    }

    & p {
      @include breakpoint($bp576) {
        font-size: 1.6rem;
      }
    }

    & .text-danger {
      @include breakpoint($bp576) {
        font-size: 2.8rem;
      }
    }

    &-name {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      width: 30%;
      @include breakpoint($bp576) {
        flex-direction: column;
        gap: 1rem;
        width: 40%;
      }

      & h5 {
        font-size: 2rem;
        @include breakpoint($bp576) {
          font-size: 1.8rem;
        }
      }

      & .details {
        width: 100%;
        text-transform: capitalize;

        & .row-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.7rem;

          & p:last-child {
            text-align: right;
          }
        }
      }
    }

    &-data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 65%;
      @include breakpoint($bp576) {
        flex-direction: column;
        gap: 2rem;
        width: 50%;
      }
      & p {
        font-size: 1.85rem;
      }
    }

    & button {
      border: none;
      background: transparent;
      font-size: 3rem;
      transition: color .1s linear;

      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }

  &-total {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & button {
      border: none;
      background: transparent;
    }

    & > button {
      padding: 1rem 2rem;
      border-radius: 1rem;
      background-color: #bdbdbd;
      transition: all .2s linear;

      &:hover, {
      &:focus {
      }
        color: #bdbdbd;
        background-color: black;
      }
    }
  }

  &-total {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;

    & p {
      font-size: 2.5rem;
    }
  }

  &-proceed {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

