@import "../vendor/vars";
@import '../vendor/mixins';

.cart {
  margin-top: 2rem;

  &-wrapper-main {
    font-family: $fontSourceSans;
  }

  &-item {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    & hr {
      width: 100%;
      height: 2px;
    }

    &-info {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 5rem;
      width: 100%;
      @include breakpoint($bp576) {
        justify-content: space-between;
      }
      @include breakpoint($bp432) {
        justify-content: center;
        gap: 2rem;
      }

      & h5 {
        margin: 0 0 1rem -1rem;
        font-size: 2rem;
        font-weight: 600;
        @include breakpoint($bp576) {
          font-size: 1.8rem;
        }
      }

      & img {
        width: 15rem;
        height: 15rem;
      }

      & .details {
        width: 100%;
        text-transform: capitalize;

        & .row-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.7rem;

          & p:last-child {
            text-align: right;
          }
        }
      }
    }

    &-options {
      width: 25%;
      @include breakpoint($bp576) {
        width: 40%;
      }
    }

    &-data {
      padding: 2rem;
      background-color: #f8f8f8;
      border-top: 1px dotted #ccc;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2.2rem;
      font-weight: 300;
      @include breakpoint($bp576) {
        font-size: 1.8rem;
      }

      &-action {
        display: flex;
        align-items: center;
        gap: 3rem;

        & button {
          border: none;
          background: transparent;
          font-size: 3rem;
          transition: color .1s linear;
        }
      }
    }
  }

  &-total {
    margin-top: 1rem;
    padding: 2rem;
    background-color: #e4f2f6;
    font-size: 2rem;
    font-family: $fontSourceSans;
    font-weight: 300;
    @include breakpoint($bp576) {
      font-size: 1.8rem;
    }
    &-sub, &-tot {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px dotted #ccc;
    }
    &-tot {
      border: none;
      & p:last-child {
        font-weight: 600;
      }
    }
  }

  &-proceed {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    & img {
      width: 80rem;
      @include breakpoint($bp576) {
        width: 60rem;
      }
    }
  }
}

