@import "../vendor/vars";
@import "../vendor/mixins";

.home {
  &-text-container {
    margin: 1rem auto 0 auto;
    padding: 2rem;
    background-color: #eeeeee;
    border-radius: 1rem;
    width: 75%;
    @include breakpoint($bp767) {
      width: 95%;
    }
    & dl {
      font-size: 1.8rem;
    }
  }
}